# included files
# ----------------------------
*
!.gitignore
!.git/
!.git/**
!omarchy/
!omarchy/**
!waybar/
!waybar/**
!yazi/
!yazi/**
!btop/
!btop/**
!mc/
!mc/**
!niri/
!niri/**
!noctalia/
!noctalia/**
!fastfetch/
!fastfetch/**
!fish/
!fish/**
!starship.toml
!tmux/
!tmux/**
!.scripts/
!.scripts/**
!discord
!discord/settings.json
!ghostty/
!ghostty/**
!systemd/
!systemd/**
!scripts/
!scripts/**
!git/
!git/**
!superfile/
!superfile/**

# excluded files
# ----------------------------
noctalia.theme
noctalia.css
noctalia.conf
noctalia.kdl
colors.json
noctalia/plugins/
noctalia/plugins/**
noctalia/settings.json
tmux/plugins/
fish/fish_variables

# included .desktop files
!applications/
!applications/AmneziaVPN.desktop
!applications/discord.desktop
!applications/btop.desktop
!applications/org.openrgb.OpenRGB.desktop
!applications/org.telegram.desktop.desktop
!applications/steam.desktop
!applications/web-app-creator.desktop
!applications/Zapret.desktop
