# included files
# ----------------------------
*
!.gitignore
!.git/
!.git/**
!omarchy/
!omarchy/**
!waybar/
!waybar/**
!yazi/
!yazi/**
!btop/
!btop/**
!mc/
!mc/**
!niri/
!niri/**
!noctalia/
!noctalia/**
!fastfetch/
!fastfetch/**
!fish/
!fish/**
!starship.toml
!tmux/
!tmux/**
!.scripts/
!.scripts/**
!discord
!discord/settings.json
!ghostty/
!ghostty/**
!systemd/
!systemd/**
!applications/
!applications/**
!scripts/
!scripts/**
!git/
!git/**

# excluded files
# ----------------------------
noctalia.theme
noctalia.css
noctalia.conf
noctalia.kdl
colors.json
noctalia/plugins/
noctalia/plugins/**
noctalia/settings.json
tmux/plugins/

