[Desktop Entry]
Name=Deadlock
Comment=Play this game on Steam
Exec=steam steam://rungameid/1422450
Icon=steam_icon_1422450
Terminal=false
Type=Application
Categories=Game;
