[Desktop Entry]
Name=Google Photos
Exec=chromium --app=https://photos.google.com/
Icon=/home/thesimen/.local/share/icons/webapps/google-photos.png
Type=Application
Categories=Network;
StartupNotify=true
