[Desktop Entry]
Type=Application
Name=Zapret
Version=1.0
Comment=discord fix
Exec=fish -c 'custom_title_term --title zapret --cmd /usr/bin/zapret'
Categories=Network;Security;
Terminal=false
