include "./cfg/animations.kdl"
include "./cfg/autostart.kdl"
include "./cfg/autostart-apps.kdl"
include "./cfg/keybinds.kdl"
include "./cfg/input.kdl"
include "./cfg/display.kdl"
include "./cfg/layout.kdl"
include "./cfg/rules.kdl"
include "./cfg/misc.kdl"
include "./game-mode.kdl"
include "./noctalia.kdl"

include "./animations.kdl"
