  // ────────────── Maximized by default ──────────────
  window-rule {
      // maximized apps 
      match app-id="zen"
      match app-id="firefox"
      match app-id="chromium"
      match app-id="TuxGuitar"
      match app-id="libreoffice-writer"
      match app-id="libreoffice-calc"
      match app-id="libreoffice-impress"
      match app-id="libreoffice-draw"
      match app-id="libreoffice-base"


      open-maximized true     
  }

// ────────────── Floating centered by default ──────────────
  window-rule {
      // floating apps
      match app-id="steam"
      match app-id="heroic"
      match app-id="org.gnome.Nautilus"
      match app-id="Spotify"
      match app-id="Happ"
      match app-id="nwg-look"
      match app-id="localsend"
      match app-id="chrome-translate.google.com__-Default"
      match app-id="chrome-photos.google.com__-Default"
      match app-id="chrome-calendar.google.com__-Default"
      match app-id="chrome-calendar.google.com__calendar_u_0_r_tasks-Default"

      match title="Open"
      match title="Bash"
      match title="btop"

      open-floating true
      default-column-width { proportion 0.6; }
      default-window-height { fixed 800; }
  }

// ────────────── Floating centered media by default ──────────────
  window-rule {
      // floating apps
      match app-id="io.github.celluloid_player.Celluloid"
      match app-id="org.gnome.Loupe"


      open-floating true
      default-column-width { proportion 0.62; }
      default-window-height { fixed 650; }
  }

  window-rule {
    match app-id="org.gnome.Calculator"

    open-floating true
    default-column-width { fixed 705; }
    default-window-height { fixed 620; }
  }

  window-rule {
    match app-id="AmneziaVPN"

    open-floating true
  }

  window-rule {
    match title="zapret"

    open-floating true
    default-column-width { fixed 740; }
    default-window-height { fixed 800; }
  }

  window-rule {
    match title="Web App Creator"

    open-floating true
    default-column-width { fixed 647; }
    default-window-height { fixed 700; }
  }

  window-rule {
    match title="Picture-in-Picture"

    open-floating true
    default-column-width { proportion 0.4; }
    default-window-height { fixed 400; }
  }

  window-rule {
    match app-id="discord"
    match app-id="org.telegram.desktop"
    open-on-output "DP-3"
  }

  window-rule {
      geometry-corner-radius 12
      clip-to-geometry true
      shadow {
          on
          softness 10
          spread 2
          offset x=0 y=0
          draw-behind-window true
          color "#00000064"
          // inactive-color "#00000064"
      }
  }

  layer-rule {
      match namespace="^noctalia-wallpaper*"
      place-within-backdrop false
  }

