  window-rule {
      geometry-corner-radius 12
      clip-to-geometry true
  }

  layer-rule {
      match namespace="^noctalia-wallpaper*"
      place-within-backdrop false
  }

  window-rule {
      match app-id="discord"
      open-on-output "DP-3"
  }

  window-rule {
      match app-id="org.telegram.desktop"
      open-on-output "DP-3"
  }
