[Unit]
Description=Quickshell (Noctalia)
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/qs -c noctalia-shell
Restart=always
RestartSec=0.1
Environment=QT_QPA_PLATFORMTHEME=gtk3
StandardOutput=null
StandardError=journal
